.flashCard{
	width:100%;
	height:100%;
  aspect-ratio: 2/3;
  transform-style: preserve-3d;
  perspective: 10000px;
  .flipper{
    transition: transform 0.3s cubic-bezier(.08,.65,.3,1.35);
    height: 100%; width: 100%;
    position: relative;
    perspective: 10000px;
    transform-style: preserve-3d;
  }
  .cardFace{
    user-select: none;
    height: 100%; width: 100%;
    max-width: 100%;
    background-color: #1EDB8C;
    border: black 3px solid;
    border-radius: 1rem;
    transform-style: preserve-3d;
    backface-visibility: hidden;
		filter: drop-shadow(-3px 3px 0px rgb(0,0,0,0.5));
    overflow: clip;
  }
  // .frontSide{}
  .backSide{
    position: absolute;
    top:0; left: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
}
