.header{
  position: relative;
  width: 100%;
  .main{
    width: 100%;
    .eng{
      width: 100%;
      padding: 0.5rem;
      position: absolute;
      top: 0; left: 0;
      opacity: 0;
      transition: 0.3s;
      font-size: 2.5rem;
    }
    .jap{
      opacity: 1;
      transition: 0.3s;
    }
    // hover to reveal english
    &:hover{.eng{opacity: 1;} .jap{opacity: 0;}}
  }
  .hr{
    width: 100%;
    background-color: black;
    height: 3px;
  }


  // spacing
  padding: 0.5rem;
}