// import our modules
@use './default.scss';
@use './header.scss';
@use './kh_button.scss';
@use './flashCard.scss';

// import font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


// debug
// *{outline: rgba(252, 0, 0, 0.356) 1px solid;}

// main column
body, html{height: 100%;}
html{
  display: flex;
  justify-content: center;
}
body{
  // outline: red solid 1px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root{
  width: 100%;
  padding: 1rem;
}

// background-color
html{background-color: #1EDB8C;}

// fonts
*{font-family: 'Inter', sans-serif;}

// default padding
.pad1{padding: 1rem;}
.margin1{margin: 1rem;}