// import our modules
@use './default.scss';
@use './header.scss';

// import font
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


// debug
// *{outline: red 1px solid;}

// main column
body, html{height: 100%;}
html{
  display: flex;
  justify-content: center;
}
body{
  outline: red solid 1px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root{
  width: 100%;
}

// background-color
html{background-color: #1EDB8C;}

// fonts
*{font-family: 'Inter', sans-serif;}

// zindex fixing 
*{z-index: 0;}