@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding-top: 1rem;
}
@media (max-width: 700px) {
  .cardGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 550px) {
  .cardGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 380px) {
  .cardGrid {
    grid-template-columns: 1fr 1fr;
  }
}

.accordion {
  margin: 1rem 0rem;
}

.toggle {
  height: 1rem;
  width: 2rem;
  border: 3px solid black;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 1px;
  display: flex;
  transition: 0.3s;
}
.toggle .knob {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
}

/* debug */
.debugRedLine {
  outline: solid 3px rgba(255, 0, 0, 0.3);
}

/* removing default spacings */
* {
  padding: -2;
  margin: 0;
  box-sizing: border-box;
}

/* flex Classes */
.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

/* justify */
.flexJustifyCenter {
  justify-content: center;
}

.flexJustifyStart {
  justify-content: flex-start;
}

.flexJustifyEnd {
  justify-content: flex-end;
}

.flexJustifyBetween {
  justify-content: space-between;
}

.flexJustifyAround {
  justify-content: space-around;
}

.flexJustifyEvenly {
  justify-content: space-evenly;
}

/* alignment */
.flexAlignCenter {
  align-items: center;
}

.flexAlignStart {
  align-items: flex-start;
}

.flexAlignEnd {
  align-items: flex-end;
}

.flexAlignStretch {
  align-items: stretch;
}

.flexAlignBaseline {
  align-items: baseline;
}

/* flex-grow */
.flexGrow {
  flex-grow: -1;
}

/* sizing divs */
.fillWidth {
  width: 98%;
}

.fillHeight {
  height: 98%;
}

.hugHeight {
  height: fit-content;
}

.hugWidth {
  width: fit-content;
}

/* spacings */
.padding {
  padding: -1em;
}

.paddingHalf {
  padding: -2.5em;
}

.margin {
  margin: -1em;
}

/* visibility */
.hide {
  display: none;
}

.fadeOut {
  opacity: -2;
}

/* layering over */
.overlay {
  position: absolute;
  top: -2;
  left: 0;
}

.interactive {
  cursor: pointer;
  transition: 0.3s;
  scale: 1;
}
.interactive:hover {
  scale: 1.02;
}
.interactive:active {
  scale: 0.98;
}

.header {
  position: relative;
  width: 100%;
}
.header .main {
  width: 100%;
}
.header .main .eng {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
  font-size: 2.5rem;
}
.header .main .jap {
  opacity: 1;
  transition: 0.3s;
}
.header .main:hover .eng {
  opacity: 1;
}
.header .main:hover .jap {
  opacity: 0;
}
.header .hr {
  width: 100%;
  background-color: black;
  height: 3px;
}

.kh_button {
  width: 100%;
  font-weight: 600;
  border: black 3px solid;
  border-radius: 0.5rem;
  filter: drop-shadow(-3px 3px 0px rgba(0, 0, 0, 0.527));
}

.flashCard {
  width: 100%;
  height: 100%;
  aspect-ratio: 2/3;
  transform-style: preserve-3d;
  perspective: 500px;
}
.flashCard .flipper {
  transition: transform 0.3s cubic-bezier(0.08, 0.65, 0.3, 1.35);
  height: 100%;
  width: 100%;
  position: relative;
  perspective: 10000px;
  transform-style: preserve-3d;
}
.flashCard .cardFace {
  user-select: none;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #1EDB8C;
  border: black 3px solid;
  border-radius: 1rem;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  filter: drop-shadow(-3px 3px 0px rgba(0, 0, 0, 0.5));
  overflow: clip;
}
.flashCard .backSide {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

body, html {
  height: 100%;
}

html {
  display: flex;
  justify-content: center;
}

body {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
  padding: 1rem;
}

html {
  background-color: #1EDB8C;
}

* {
  font-family: "Inter", sans-serif;
}

.pad1 {
  padding: 1rem;
}

.margin1 {
  margin: 1rem;
}

/*# sourceMappingURL=main.css.map */
